@media (max-width: 650px) {
  .paper {
    height: 220px !important;
  }
  .grid-item {
    display: flex;
    flex-direction: column;
  }
  .text-block {
    display: flex !important;
    flex-direction: column !important;
  }
  .product-description {
    display: none;
  }
}